pkgbase = python-repo2md
	pkgdesc = CLI tool to gather repo content into a single Markdown file for LLMs
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/Sapo534/repo2md
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-questionary
	source = repo2md.py
	source = pyproject.toml
	sha256sums = 756bbd47a0a7fb4dfa22c32515e6e09083ab16698e59c71268ed6b1fb5e16177
	sha256sums = 87b2ae59909a8f931799f19ca7ab512528a8a7feb798c761bcc1f518bccffd4e

pkgname = python-repo2md
